footer {
  background-color: #121010;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.f-rows {
  padding: 1rem 1rem;
}

.f-inc {
  text-align: center;
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.222);
}
